{# templates/category/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
	<div class="row m-5">
		<div class="col-6">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
