{% extends 'base.html.twig' %}

{% block title %}Edit Program
{% endblock %}

{% block body %}
	<h1>Edit Program</h1>

	<div class="row m-5">
		<div class="col-6">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>

	<a href="{{ path('program_index') }}">back to list</a>

{% endblock %}
