{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	
	<section class="bg-secondary">

		<h1>Bienvenue !</h1>

		<img src="{{ asset('build/images/actuel.jpg') }}" alt=""/>

	</section>
{% endblock %}
